* {
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Shantell Sans", sans-serif;
    font-weight: 400;
}

img {
    height: 290px;
    width: 100%;
    border-radius: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 115px;
    border-bottom: 1px solid darkblue;
    background: linear-gradient(100deg, #FFED00 0%, #FF3DFE 51.89%, #2dc0ed 100%);
    ;
}

.header_windranger {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    border-bottom: 1px solid darkblue;
    background-image: url(windranger_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header_container {
    width: 1600px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    font-size: 48px;
    color: black;
    font-weight: 700;
}

ul {
    display: flex;
    flex-direction: row;

}

li:not(:last-child) {
    margin-right: 24px;
}

a {
    color: black;
    font-size: 20px;
}

.subtitle {
    font-size: 40px;
}

#home_subtitle_link {
    font-size: 40px;
}

.home_subtitle {
    height: 65px;
    width: 300px;
    background-color: #0a9421;
    border-radius: 12px;
    transition: 100ms linear;
}

.home_subtitle:hover {
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.card {
    flex-wrap: wrap;
    width: 357px;
    border-radius: 12px;
    background-color: #9822f2e6;
    padding: 7px;
    transition: 100ms linear;

}

.card:hover {
    transform: scale(1.1);
}

.card_image {
    height: 290px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

#card_image_litenerge {
    height: 100%;
    width: 35%;
}
#card_image_pringles {
    height: 100%;
    width: 30%;
}
#card_image_lays {
    height: 100%;
    width: 55%;
}
#secret_link{
    font-size: 24px;
}
h2{font-size:24px;}
li>a:hover {
    transform: translateY(-5px);
    color: red;
}

li>a {
    transition: 100ms linear;
}

@keyframes list_hover {
    25% {
        color: red;
    }

    50% {
        color: greenyellow;
    }

    75% {
        color: purple;
    }

    100% {
        color: black;
    }
}

.card_container {
    width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 26px 24px;

}

.main {
    justify-content: center;
    gap: 24px;
    display: flex;
}

.main_container {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    gap: 24px;

}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #70FF00;
    height: 114px;
}

.footer_container {
    width: 1600px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.footer_logo {
    font-size: 48px;
    color: black;
    font-weight: 700;
}

#footer_list {
    color: yellow;
}

#body {
    height: 100vh;
    flex-direction: column;
    display: flex;

    background-color: #70FF00;
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(155.88deg, #FFED00 0%, #FF3DFE 51.89%, #5253FF 100%);
    width: 100%;
    height: 60px;
    border-radius: 10px;
}

h3 {
    color: white;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 178px;
}